<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Glitch image-hosting</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <link rel="favicon" href="/uploaded/b60b1219a889db412a6f2eafb3a4698d.jpg">
    <style>
    form {
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
    }
    input.btn {
        flex: 0.8;
    }
    button.btn {
        flex: 0.15;
    }
    </style>
</head>
<body>
    <div class="container">
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="image">
            <button class="btn btn-primary" type="submit" style="border-radius: 4px;">Upload Your Image</button>
        </form>
    </div>
</body>
</html>